# Private Key
PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Infura Api Key
INFURA_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Block explorer API keys
ETHERSCAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx